<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaFS" version="2.2.6" targetFramework="net48" />
  <package id="Appium.WebDriver" version="4.4.0" targetFramework="net48" />
  <package id="ApprovalTests" version="5.7.3" targetFramework="net48" />
  <package id="ApprovalUtilities" version="5.7.3" targetFramework="net48" />
  <package id="Castle.Core" version="5.1.0" targetFramework="net48" />
  <package id="DiffEngine" version="11.0.0" targetFramework="net48" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net48" />
  <package id="EmptyFiles" version="4.1.0" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.46" targetFramework="net48" />
  <package id="log4net" version="2.0.15" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.2.10" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.10" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Selenium.Support" version="4.7.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.7.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.117.0" targetFramework="net48" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.8.5" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.117.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
  <package id="System.Management" version="7.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="TextCopy" version="6.2.0" targetFramework="net48" />
</packages>