.vs
*.user
*.pdb
.editorconfig
FastWPF.DesignerSettings
*.filters

/docs-src/Debug

**/bin/*
**/obj/*
Qiqqa.Build/Packaging/ClickOnceUninstaller/ClickOnceUninstaller/bin/*
Qiqqa.Build/Packaging/ClickOnceUninstaller/ClickOnceUninstaller/obj/*

# scratch directory for other material while working on Qiqqa items
/research/
/docs/template-research/

*.received.json

# NuGet installed packages
/packages/
/QiqqaLegacyFileFormats/packages/

# nodeJS stuff (npm)
/node_modules
/Technology Tests/TypeScript Console App/node_modules
/Technology Tests/TypeScript VueJS App/node_modules

# ignore directories where the installers are saved during Release+SETUP builds
/Qiqqa.Build/Packages/v* - 20*/

# Windows' stuff
desktop.ini

# experimental dev work
/libs/3rdparty/mupdf/mupdf/
/libs/3rdparty/SOLR/

/docs-src/_meta/HTML standards and designs/
/docs-src/_meta/layouts/
/docs-src/getsatisfaction-mirror/*.html
/docs-src/getsatisfaction-mirror/*_files/

# build misc output files for Qiqqa.org project
Qiqqa.org.log
Qiqqa.org.vcxprojAssemblyReference.cache

Debug*/
Release*/

*.log
*.diagsession
/Technology Tests/TypeScript VueJS App/dist

# Zettlr
.ztr-directory

# audio-recorded review/comments/interchange of the manual development (writing)
/docs-src/The Official Manual (v80-89 Open Source)/audio-review/

/Technology Tests/WPF Template App1.Packaging/*.cache

# Obsidian vault
/docs-src/Notes/.obsidian/appearance.json
/docs-src/Notes/.obsidian/core-plugins.json
/docs-src/Notes/.obsidian/daily-notes.json
/docs-src/Notes/.obsidian/graph.json
/docs-src/Notes/.obsidian/hotkeys.json
/docs-src/Notes/.obsidian/switcher.json
/docs-src/Notes/.obsidian/templates.json
/docs-src/Notes/.obsidian/workspace

# Intel VTune Profiler
/Qiqqa/VTune Profiler Results/
/icons/Logo/research
