.vs
*.user
*.pdb
.editorconfig
FastWPF.DesignerSettings
*.filters

/docs-src/Debug

**/bin/*
**/obj/*
Qiqqa.Build/Packaging/ClickOnceUninstaller/ClickOnceUninstaller/bin/*
Qiqqa.Build/Packaging/ClickOnceUninstaller/ClickOnceUninstaller/obj/*

# scratch directory for other material while working on Qiqqa items
/research/
/docs/template-research/

*.received.json

# NuGet installed packages
/packages/
/QiqqaLegacyFileFormats/packages/

# nodeJS stuff (npm)
/node_modules

# ignore directories where the installers are saved during Release+SETUP builds
/Qiqqa.Build/Packages/v* - 20*/

# Windows' stuff
desktop.ini

# experimental dev work
/libs/3rdparty/mupdf/mupdf/

