.vs
*.csproj.user
*.pdb

icons/bin/*
icons/obj/*
libs/bin/*
libs/obj/*
Qiqqa/bin/*
Qiqqa/obj/*
QiqqaOCR/bin/*
QiqqaOCR/obj/*
Utilities/bin/*
Utilities/obj/*
QiqqaPackager/bin/*
QiqqaPackager/obj/*
QiqqaToolBench/bin/*
QiqqaToolBench/obj/*
QiqqaUnitTester/bin/*
QiqqaUnitTester/obj/*
QiqqaSystemTester/bin/*
QiqqaSystemTester/obj/*
QiqqaTestHelpers/bin/*
QiqqaTestHelpers/obj/*
QiqqaVersionMigrator/bin/*
QiqqaVersionMigrator/obj/*
QiqqaLegacyFileFormats/bin/*
QiqqaLegacyFileFormats/obj/*
Qiqqa.Build/Packaging/ClickOnceUninstaller/ClickOnceUninstaller/bin/*
Qiqqa.Build/Packaging/ClickOnceUninstaller/ClickOnceUninstaller/obj/*

# scratch directory for other material while working on Qiqqa items
/research/

*.received.json

# NuGet installed packages
/packages/


# nodeJS stuff (npm)
/node_modules

