<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Utilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Utilities.Properties.Settings>
            <setting name="TargetDir" serializeAs="String">
                <value>W:/Users/Ger/Projects/sites/library.visyond.gov/80/lib/tooling/qiqqa/Utilities/bin/Debug/</value>
            </setting>
            <setting name="ProjectDir" serializeAs="String">
                <value>W:/Users/Ger/Projects/sites/library.visyond.gov/80/lib/tooling/qiqqa/Utilities/</value>
            </setting>
            <setting name="SolutionDir" serializeAs="String">
                <value>W:/Users/Ger/Projects/sites/library.visyond.gov/80/lib/tooling/qiqqa/</value>
            </setting>
        </Utilities.Properties.Settings>
    </applicationSettings>
</configuration>