<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender_USER_TEMP" />
      <appender-ref ref="RollingFileAppender_USER_TEMP_ALT" />
      <appender-ref ref="RollingFileAppender_COMMON_TEMP" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
    <appender name="RollingFileAppender_USER_TEMP" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyyMMdd.HHmmss} [Q] %-5level [%thread] %message%newline" />
      </layout>
      <file type="log4net.Util.PatternString" value="%envFolderPath{LocalApplicationData}\\Quantisle\\Qiqqa\\Logs\\Qiqqa-%utcdate{yyyyMMdd.HHmmss}.log" />
      <appendToFile value="true" />
      <countDirection value="1" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="4" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
    </appender>
    <appender name="RollingFileAppender_USER_TEMP_ALT" type="log4net.Appender.RollingFileAppender">
      <!-- 
        https://stackoverflow.com/questions/6346521/how-to-log-different-log-level-to-different-log-appender-in-log4net 
        https://logging.apache.org/log4net/log4net-1.2.12/release/sdk/log4net.Appender.RollingFileAppender.html
      -->
      <filter type="log4net.Filter.LevelRangeFilter">
         <levelMin value="WARN" />
         <levelMax value="FATAL" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyyMMdd.HHmmss} [Q] %-5level [%thread] %message%newline" />
      </layout>
      <file type="log4net.Util.PatternString" value="%envFolderPath{LocalApplicationData}\\Quantisle\\Qiqqa\\Logs\\!Qiqqa.ErrorsAndUserActions.log" />
      <appendToFile value="true" />
      <countDirection value="1" />
      <rollingStyle value="Once" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="500KB" />
      <staticLogFileName value="true" />
    </appender>
    <appender name="RollingFileAppender_COMMON_TEMP" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyyMMdd.HHmmss} [Q] %-5level [%thread] %message%newline" />
      </layout>
      <file value="C:\\Temp\\Qiqqa.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="4" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyyMMdd.HHmmss} [Q] %-5level [%thread] %message%newline" />
      </layout>
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Cyan, HighIntensity" />
      </mapping>
    </appender>
    <appender name="TraceAppender" type="Utilities.log4net.QiqqaTraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%utcdate{yyyyMMdd.HHmmss} [Q] %-5level [%thread] %message" />-->
		<conversionPattern value="%message" />
	  </layout>
    </appender>
  </log4net>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.Web.Ria.Services.DomainServiceHttpModule, System.Web.Ria, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
</configuration>