<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaFS" version="2.2.6" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net48" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.0-beta2.final" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.0-beta2.final" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.0-beta2.final" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.0-beta2.final" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.0-beta2.final" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Win32.Registry" version="5.0.0-preview.6.20305.6" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="PDFsharp-wpf" version="1.51.5185-beta" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.1" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0-preview.6.20305.6" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0-preview.6.20305.6" targetFramework="net48" />
</packages>