<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
        
    </startup>

    <!-- Please uncomment this section if the Target Framework of this application is v4.6.2 or lower, and Visual Studio 2019 or later is used for development.
    <runtime>
       <AppContextSwitchOverrides value="Switch.System.Activities.UseMD5ForWFDebugger=false" />
    </runtime>
    -->
</configuration>
