<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingFileAppender_USER_TEMP" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
    <appender name="RollingFileAppender_USER_TEMP" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyyMMdd.HHmmss} [Q] %-5level [%thread] %message%newline" />
      </layout>
      <file type="log4net.Util.PatternString" value="%envFolderPath{LocalApplicationData}\\Quantisle\\Qiqqa\\Logs\\QiqqaSystemTester-%utcdate{yyyyMMdd.HHmmss}.log" />
      <appendToFile value="true" />
      <countDirection value="1" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="9" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
    </appender>
    <appender name="RollingFileAppender_USER_TEMP_ALT" type="log4net.Appender.RollingFileAppender">
      <!--
        https://stackoverflow.com/questions/6346521/how-to-log-different-log-level-to-different-log-appender-in-log4net
        https://logging.apache.org/log4net/log4net-1.2.12/release/sdk/log4net.Appender.RollingFileAppender.html
      -->
      <filter type="log4net.Filter.LevelRangeFilter">
         <levelMin value="WARN" />
         <levelMax value="FATAL" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />

      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyyMMdd.HHmmss} [Q] %-5level [%thread] %message%newline" />
      </layout>
      <file type="log4net.Util.PatternString" value="%envFolderPath{LocalApplicationData}\\Quantisle\\Qiqqa\\Logs\\!QiqqaSystemTester.ErrorsAndUserActions.log" />
      <appendToFile value="true" />
      <countDirection value="1" />
      <rollingStyle value="Once" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="5000KB" />
      <staticLogFileName value="true" />
    </appender>
    <appender name="RollingFileAppender_COMMON_TEMP" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyyMMdd.HHmmss} [Q] %-5level [%thread] %message%newline" />
      </layout>
      <file value="C:\\Temp\\QiqqaSystemTester.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="4" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyyMMdd.HHmmss} [Q] %-5level [%thread] %message%newline" />
      </layout>
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Cyan, HighIntensity" />
      </mapping>
    </appender>
    <appender name="TraceAppender" type="Utilities.log4net.QiqqaTraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%utcdate{yyyyMMdd.HHmmss} [Q] %-5level [%thread] %message" />-->
		<conversionPattern value="%message" />
	  </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
