/dotnet-sdk-3.1.404-win-x64.exe
/dotnet-sdk-5.0.101-win-x64.exe
/ndp48-devpack-enu.exe
/ndp48-web.exe
/windowsdesktop-runtime-3.1.10-win-x64.exe
/windowsdesktop-runtime-3.1.10-win-x86.exe
/windowsdesktop-runtime-5.0.1-win-x64.exe
/windowsdesktop-runtime-5.0.1-win-x86.exe
